@import '../../assets/scss/general.scss';

.homepage-container{
    background-color: $softGrey;
    padding: 28px;
    height: calc(100% - 64px);
    width: 100%;
    .content-driver {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 45px;
        padding-right: 30px;
        &::-webkit-scrollbar {
            display: none;
        }
        @media (max-width: $small) {
            flex-direction: column;
            padding-right: 0px !important;
        }
    }
    .empty-search {
        margin-top: 45px;
        padding: 12px 16px;
        color: #7c0a2f;
        border-radius: 6px;
        text-align: center;
        h5 {
            font-size: 16px;
        }
    }
}
