@import '../../assets/scss/general.scss';

.main-layout{
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .container-content {
        width: calc(100% - 12rem);
        min-height: 100vh;
        @media (max-width: $mobile) {
            width: 100%
        }
        .main-container-content {
            background-color: $softGrey;
            height: calc(100% - 64px);
            width: 100%;
        }
    }

    .overlay {
        @media (max-width: $mobile) {
            background-color: rgba(0,0,0,0.7);
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    }
}